body {
    background-image: url(https://img.freepik.com/premium-photo/full-frame-shot-metal_1048944-9557919.jpg?w=360);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding: 0;
    list-style-type: none;
}


.social-links ul, li {
    list-style-type: none;
    display: inline-block;
}

.social {
    width: 30px;
    height: 30px;
}


#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: cornsilk;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid;
    padding: 15px;
    border-radius: 5px;
    background-color: cornsilk;
    margin-bottom: 50px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cornsilk;
    border-radius: 5px;
    border: 1px solid;
    font-size: 14px;
}


#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: dimgray;
    border: none;
}